[DEFAULT]
# A boolean to indicate whether or not to check for package updates.
check_for_updates=True

# Object to kind mappings
comment_kind=t1
message_kind=t4
redditor_kind=t2
submission_kind=t3
subreddit_kind=t5
trophy_kind=t6

# The URL prefix for OAuth-related requests.
oauth_url=https://oauth.reddit.com

# The amount of seconds of ratelimit to sleep for upon encountering a specific type of 429 error.
ratelimit_seconds=5

# The URL prefix for regular requests.
reddit_url=https://www.reddit.com

# The URL prefix for short URLs.
short_url=https://redd.it

# The timeout for requests to Reddit in number of seconds.
timeout=16

[saucerobot]
# Bot's reddit username (eg. saucerobot)
username=...

# Password for the bot's account (eg. password)
password=...

# Client ID for the bot from https://www.reddit.com/prefs/apps/ (eg. a1bC2DEFG51h3i_jKlMnop)
client_id=...

# Client Secret for the bot from https://www.reddit.com/prefs/apps/ (eg. abc1dEfGhIjKlmNopQr2s_-t3Uvwx-yZ)
client_secret=...

# Bot author's username, version number, and user agent (eg. script:u/saucerobot:v0.1.0 (by u/professoreyl))
bot_author=professoreyl
bot_version=0.1.0
user_agent=script:u/%{username}s:v%{bot_version}s (by u/%{bot_author}s)